.btn {
  font-family: var(--font-bold);
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  background-color: transparent;
  color: var(--on-primary);
  border: 1px solid white;
  padding: 1.5rem 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  user-select: none;
}

.btn:hover {
  border: 1px solid var(--accent-orange);
  background-color: var(--accent-orange);
}

.btn:hover svg {
  color: white;
}

.btn:active {
  transform: scale(0.97);
}
.onSecondary {
  background-color: var(--primary);
  color: var(--on-primary);
}
