.container__logo {
  font-family: var(--font-bold);
  font-size: 3rem;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  user-select: none;
}

.logo {
  color: var(--accent-orange);
}
