.container {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.container div {
  flex: 1;
  gap: 1rem;
}

.container div:hover {
  transform-origin: bottom;
  transform: scale(1, 1.2);
}

.title {
  font-size: 1.8rem;
}

.description {
  font-size: 1.5rem;
}
