.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.container__logo {
  font-family: var(--font-bold);
  font-size: 3rem;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  color: var(--accent-orange);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1.7rem;
  color: white;
}

.btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 1.5rem 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.arrowRight {
  font-size: 1.8rem;
  color: var(--accent-orange);
}
