.container {
  background-color: var(--primary);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 3rem;
  border-bottom: 1px solid #413833;
  max-width: var(--container-lg);
  margin: 0 auto;
  background-color: var(--primary);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 1.7rem;
  color: white;
  user-select: none;
}

.links a {
  cursor: pointer;
  color: white;
}
.links a:hover {
  transform: scale(1.1);
  text-decoration: underline;
  color: var(--accent-orange);
}

.links a.active {
  text-decoration: underline;
  color: var(--accent-orange);
}

.arrowRight {
  font-size: 1.8rem;
  color: var(--accent-orange);
}
