.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #413833;
  margin-bottom: 5rem;
}

.container__logo {
  font-family: var(--font-bold);
  font-size: 3rem;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  color: var(--accent-orange);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 1.7rem;
  color: white;
}

.arrowRight {
  font-size: 1.8rem;
  color: var(--accent-orange);
}
