.content {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

.tour {
  height: 40rem;
  max-width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inspiration {
  font-weight: bold;
  font-size: 1.7rem;
}

.links {
  display: inline-flex;
  gap: 2rem;
  font-family: var(--font-bold);
  font-size: 2rem;
  text-decoration: underline;
}

.banner {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  font-size: 3rem;
  border: 1px solid var(--primary);
}

.banner img {
  max-width: 17rem;
}

.banner__title {
  display: flex;
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
  color: var(--primary);
}

.banner__title h3 {
  font-family: var(--font-bold);
}

.banner__title svg {
  color: var(--accent-orange);
  font-size: 5rem;
}

.house {
  background: url("https://images.unsplash.com/photo-1529700975896-60a7e629815f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  width: 32%;
}

.services {
  height: 40rem;
  max-width: 32%;
  padding-top: 3rem;
}

.services__title div {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.services__title h2 {
  font-family: var(--font-bold);
  font-size: 5.5rem;
}

.services__title span {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--accent-orange);
}

.services__title p {
  line-height: 1;
  letter-spacing: 0.2rem;
}

.services__text {
  max-width: 80%;
  font-size: 1.5rem;
  text-align: end;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4rem;
  float: right;
}

.footer {
  color: white;
  padding: 6rem 0;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__top h2 {
  font-family: var(--font-bold);
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

.footer__btn {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.footer__btn div {
  font-size: 1.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.footer__btn div span {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer__btn button {
  background-color: var(--accent-orange);
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin: 6rem 0 0 0;
  padding: 6rem 0;
  border-top: 1px solid grey;
  user-select: none;
}

.footer__link {
  cursor: pointer;
}

.footer__link:hover {
  color: var(--accent-orange);
}

.footer__link:active {
  color: var(--accent-orange);
  transform: scale(1.1);
}

.footer__logo {
  font-family: var(--font-bold);
  font-size: 3rem;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  color: var(--accent-orange);
}

.copyRight {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}

.copyRight::before {
  content: "";
  display: inline-block;
  height: 0.1rem;
  width: 50%;
  background-color: white;
}

.copyRight::after {
  content: "";
  display: inline-block;
  height: 0.1rem;
  width: 50%;
  background-color: white;
}
