/* CSS Reset */
/* Set REM to 10px */
html {
  font-size: 62.5%; /* 1rem = 10px (when default font size is 16px) */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
}

/* Remove list styles on ul and ol elements */
ol,
ul {
  list-style: none;
}

/* Set default font size and line height */
body {
  font-size: 1rem;
  line-height: 1.5;
}

/* Remove default padding */
ul,
ol,
li,
p {
  padding: 0;
}

/* Remove borders and outlines */
a,
button,
input,
textarea {
  border: none;
  outline: none;
}

/* Remove text decoration on links */
a {
  text-decoration: none;
}

/* Set default font family */
body {
  font-family: Arial, sans-serif;
}
/* CSS RESET end */
