@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Saira+Extra+Condensed:wght@800&display=swap");
/* CSS Reset */
/* Set REM to 10px */
html {
  font-size: 62.5%; /* 1rem = 10px (when default font size is 16px) */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
}

/* Remove list styles on ul and ol elements */
ol,
ul {
  list-style: none;
}

/* Set default font size and line height */
body {
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--secondary);
}

/* Remove default padding */
ul,
ol,
li,
p {
  padding: 0;
}

/* Remove borders and outlines */
a,
button,
input,
textarea {
  border: none;
  outline: none;
}

/* Remove text decoration on links */
a {
  text-decoration: none;
}

/* Set default font family */
body {
  font-family: Arial, sans-serif;
}
/* CSS RESET end */

/* CSS Variables */
:root {
  /* bg color */
  --primary: #2d241f;
  --primary-variant: #fcf7f1;
  --secondary: #c7bab1;
  --accent-yellow: #fecb3e;
  --accent-pink: #f0cbc5;
  --accent-green: #9ed86a;
  --accent-orange: #e97c49;
  /* font color */
  --on-primary: #ffffff;
  --on-secondary: #1b1412;
  /* container width */
  --container-sm: 96%;
  --container-md: 92%;
  --container-lg: 88%;
  /* font family */
  --font-bold: "Saira Extra Condensed", sans-serif;
  --font-reg: "Montserrat", sans-serif;
}
/* CSS Variables END*/
